h1 {
  text-align: center; 
  font-family: Bahnscrift, Arial, Helvetica, sans-serif; 
  background-color: rgb(134, 225, 239); 
  padding: 28px; 
  border: 2px solid black;
}
.create-post-box {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.create-post-box h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.create-post-box label {
  display: block;
  margin-bottom: 10px;
}

.create-post-box input,
.create-post-box textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.create-post-box button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.create-post-box button[type="submit"]:hover {
  background-color: #0062cc;
}

.image-block {
  display: block;
  width: 260px;
  height: 260px;
}

.image-div {
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
  margin-top: 45px;
  justify-content: center;
  flex-wrap: wrap;
}